* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    padding: 15px 35px;
}
.web-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}
.header{
    background-color: #fff8f3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 400px;
}